<!DOCTYPE html>
<html>
  <head>
    <title>Prueba</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <header>
	<nav>
	<ul>
         <li  class = "col-md">
          Estudiantes
        </li>           <li  class = "col-md">
          Materias
        </li>           <li  class = "col-md">
          Cursos
        </li>
           <li  class = "col-md">
         </nav>
	</ul>
       </header>
  <%= yield %>
  </body>
</html>
